:root {
	--base-shakeRotate: 0.3deg;
}
#root {
	height: 100vmax;
}
.component-row {
	min-height: 300px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.default-playback-grid-v {
	display: grid;
	grid-template-rows: 2fr 0.2fr 1fr;
	height: 100%;
	gap: 5px;
}
.img-full-height {
	height: 100%;
	margin: 0 auto;
}
.playbackBar {
	height: 2px;
	width: 75%;
	margin-top: 5px;
	background-color: grey;
	position: relative;
}
.playbackDot {
	position: absolute;
	left: 0px;
	top: -4px;
	aspect-ratio: 1/1;
	height: 10px;
	border-radius: 1000px;
	background-color: white;
}
.grid-4-full-height {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100%;
	font-size: 3rem;
}
.heightfull {
	height: 100%;
}
.car-item {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.PlaylistSelect {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 15px;
	left: 100px;
	font-size: 2.5rem;
	background-color: black;
	color: white;
	font-weight: 600;
	border-radius: 5px 5px;
}
.song-image {
	height: 100%;
}
.col-icon {
	aspect-ratio: 1/1;
	height: 30px;
}
.fa-resize {
	font-size: 30px;
}
.align-left {
	display: flex;
	justify-content: end;
}
.customizeButton {
	width: 40px;
	height: 40px;
}
.menu-bar {
	display: flex;
	height: 40px;
	width: 100%;
	justify-content: center;
	gap: 10px;
	font-size: 1.5rem;
	background: black;
}

.menu-bar a:hover{
	background-color: #5B92E5;
	border-radius: 5px 5px;
	 
}

img {
	height: 50px;
}
ul {
	background-color: black;
	padding-left: 0em;
}
.component-2col {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
li {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	background-color: rgb(85, 85, 85);
	color: white;
	margin-bottom: 2px;
	border-bottom: 2px solid black;
}
.song {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	background-color: rgb(85, 85, 85);
	color: white;
	margin-bottom: 2px;
	border-bottom: 2px solid black;
}
body {
	background-color: black;
	color: white;
	
}
.Grid-1 {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	margin: 10px;
}
.modify-width {
	height: 100%;
	width: 2px;
	top: 10px;
	right: -10px;
	background-color: brown;
	z-index: 100;
	line-height: 10px;
}
.modify-width:hover {
	cursor: col-resize;
}
.Grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin: 10px;
}
.division {
	width: 40px;
	height: 100%;
	cursor: ew-resize;
	flex: 0 0 auto;
}
.division::before {
	content: " ";
	display: block;
	width: 3px;
	height: 100%;
	background-color: black;
	margin: 0 auto;
}
.flex-2 {
	display: flex;
	gap: 5px;
}
.flex-3 {
	display: flex;
	gap: 5px;
}
.playbackMode {
	background-color: transparent;
}
.Grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin: 10px;
}
.heightfull {
	height: 100%;
}
.playbackMenu {
	display: flex;
	width: 100%;
	height: 3rem;
	align-content: space-evenly;
	flex-direction: row;
	font-size: 2.5rem;
	color: white;
	font-weight: 600;
}

#playback{
	top: 20px;
	font-size: 2.5rem;
	background-color: black;
	color: white;
	font-weight: 600;
	border-radius: 5px 5px;
}

.playbackMenu svg{
	padding-left: 20px;
	height: 100%;
	
} 

.component-header {
	position: relative;
	height: 2em;
	
}
.playlistLink {
	cursor: pointer;
}
.song-container {
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: grey;
	width: 100%;
	height: 4em;
	gap: 10px;
}

.component-header-text-playlist {
	font-size: 2.5rem;
	position: absolute;
	left: 100px;
	top: 10px;
	margin-top: 0;
}
.sticky {
	position: sticky;
	z-index: 1000;
	top: 0;
}
.one-col-songs {
	max-height: 400px;
	overflow: scroll;
}

.component-header-text {
	position: absolute;
	padding: 0;
	margin: auto;
	padding: 50;
	text-align: center;
}

h2{
	font-family: 'Lexend Deca', sans-serif; 
	color: whitesmoke; 
}

.playlistImage {
	height: 5.5rem;
}
.component-header-playlist {
	position: relative;
	height: 5em;
}
.component-container {
	max-height: 300px;
	max-width: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	margin-left: 30px;
	margin-top: 50px;
	background: #5B92E5;
} 

.fa-2x {
	font-size: 1.8em;
}
.component-header-decoration {
	position: absolute;
	right: 0;
	top: 2px;
	text-align: center;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.moveable {
	animation: shake 0.5s;

	animation-iteration-count: infinite;
}
.genre-container {
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: grey;
	height: 4em;
}
.heart {
	transition: 200ms ease;
}
.heart:hover {
	color: red;
}
.justify-end {
	display: flex;
	gap: 8px;
	position: absolute;
	justify-content: end;
	top: 1em;
	right: 15px;
}
.component-row {
	max-height: 400px;
	overflow: scroll;
	width: 80%;
	margin: 0 auto;
}
.genre-title {
	margin-top: 15px;
	margin-left: 10px;
}
@keyframes shake {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(calc(var(--base-shakeRotate) * -1));
	}
	20% {
		transform: rotate(calc(var(--base-shakeRotate) * -2));
	}
	30% {
		transform: rotate(calc(var(--base-shakeRotate) * -3));
	}
	35% {
		transform: rotate(calc(var(--base-shakeRotate) * -2));
	}
	40% {
		transform: rotate(calc(var(--base-shakeRotate) * -1));
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(calc(var(--base-shakeRotate)));
	}
	70% {
		transform: rotate(calc(var(--base-shakeRotate) * 2));
	}
	80% {
		transform: rotate(calc(var(--base-shakeRotate) * 3));
	}
	85% {
		transform: rotate(calc(var(--base-shakeRotate) * 2));
	}
	90% {
		transform: rotate(calc(var(--base-shakeRotate)));
	}
	100% {
		transform: rotate(0deg);
	}
}
