body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
img {
	height: 50px;
}
ul {
	background-color: black;
	padding-left: 0em;
}
.component-2col {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
li {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	background-color: rgb(85, 85, 85);
	color: white;
	margin-bottom: 2px;
	border-bottom: 2px solid black;
}
.song {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	background-color: rgb(85, 85, 85);
	color: white;
	margin-bottom: 2px;
	border-bottom: 2px solid black;
}
body {
	background-color: black;
	color: white;
}
.Grid-1 {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	margin: 10px;
}
.modify-width {
	height: 100%;
	width: 2px;
	top: 10px;
	right: -10px;
	background-color: brown;
	z-index: 100;
	line-height: 10px;
}
.modify-width:hover {
	cursor: col-resize;
}
.Grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin: 10px;
}
.division {
	width: 10px;
	height: 100%;
	cursor: ew-resize;
	flex: 0 0 auto;
}
.division::before {
	content: " ";
	display: block;
	width: 3px;
	height: 100%;
	background-color: grey;
	margin: 0 auto;
}
.flex-2 {
	display: flex;
	gap: 5px;
}
.flex-3 {
	display: flex;
	gap: 5px;
}
.Grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin: 10px;
}
.component-header {
	position: relative;
	height: 2em;
}
.component-header-text {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 0;
}
.component-container {
	max-height: 400px;
	transition: all 20ms ease;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}
.fa-2x {
	font-size: 1.8em;
}
.component-header-decoration {
	position: absolute;
	right: 0;
	top: 2px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
